body {
  background: hsl(211, 46%, 89%);
  font-family: "Outfit", sans-serif;
  text-align: center;
}

div.card {
  background: hsl(0, 0%, 100%);
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  max-width: 300px;
  margin: 150px auto;
  padding: 20px 12px;
}

div.card-text {
  padding: 10px;
}

h1 {
  color: hsl(218, 44%, 22%);
  font-size: 1.4rem;
  font-weight: 700;
}

p {
  color: hsl(220, 15%, 55%);
  font-size: 0.94rem;
  font-weight: 400;
}

img {
  width: 100%;
  border-radius: 10px;
}

.attribution {
  font-size: 0.7rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 375px) {
  div.card {
    margin: 80px auto;
  }
}
